@page
@model IndexModel
@{
    var crimes = (CrimeSpace.Crime[]) ViewData["Crime"];
    var parks = (ParkSpace.Parks[]) ViewData["Parks"];
}
<!-- Image over text help found at: https://css-tricks.com/text-blocks-over-image/ -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .image {
            position: relative;
            width: 100%;
        }

        h2 {
            position: absolute;
            top: 200px;
            left: 0;
            width: 100%;
        }

            h2 span {
                color: springgreen;
                font: bold 45px/45px Helvetica, Sans-Serif;
                letter-spacing: -1px;
                background: rgb(0,0,0);
                background: rgba(0,30,0,0.8);
                padding: 10px;
            }

        h3 {
            position: absolute;
            top: 200px;
            left: 0;
            width: 100%;
            padding-top: 200px
        }

            h3 span {
                color: white;
                font: 20px/35px Helvetica, Sans-Serif;
                letter-spacing: 0px;
                background: rgb(0,0,0);
                background: rgba(0, 30, 0, 0.8);
                padding: 11px;
            }
    </style>
    <div class="text-center">
        <h1 class="display-4">Cincy Safe Space</h1>
    </div>

</head>

<body>
    <div class="image">
        <img src="https://cdn.vox-cdn.com/thumbor/m-gGy-XSLGJQrRmIIx86dtqdjQ4=/0x0:4431x2954/820x461/filters:focal(1030x1360:1738x2068):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/66732472/GettyImages_1209347829.0.jpg" class="text-center" alt="Park" height="600" width="1100" />
        <h2><span>The great outdoors just got better.</span></h2>

        <h3><span>At Cincy Safe Space, we're committed to making sure Cincinnati-area residents and their families feel safe and comfortable during their trips to out city's parks. Use our search tool to find out how safe your park's neighborhood is, and never stress about another park visit again!</span></h3>

    </div>
    <div class="container">
        <br />
        <div class="row">
            <h1><strong>How does it work?</strong></h1>
        </div>
        <div class="row">
            <div class="col-sm text-center">
                <h4><span class="badge badge badge-success">Cincinnati Park Data</span></h4>
            </div>
            <div class="col-sm text-center">
                <h4><span class="badge badge badge-success">PDI Crime Data</span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-center">
                <p>We've compiled data on thousands of parks in the Cincinnati area so that you can find exactly the one you're looking for.</p>
            </div>
            <div class="col-sm text-center">
                <p>Information from the City of Cincinnati's Police Data Initiative has been gathered to give you an updated report of crime incidents happening near your park of choice.</p>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img src="https://www.cityofml.com/ImageRepository/Document?documentID=6935" class="card-img-top" />
            <div class="card-body">
                <h1 class="card-title text-center text-white"><span class="badge badge-success text-center"<strong>Search by Area</strong></span></h1>
                <p class="card-text">Enter your search terms below to view parks in your area and the associated crima reports for that area.</p>
            </div>
        </div>
    </div>
    <table border="1" width="90%">
        <tr>
            <th>Incident #</th>
            <th>Offense</th>
            <th>Location</th>
            <th>Date</th>
            <th>Day of Week</th>
            <th>CC Neighborhood</th>
            <th>CPD Neighborhood</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Zip</th>
        </tr>
        @{
            foreach (CrimeSpace.Crime crime in crimes)
            {
                <tr>
                    <td>@crime.IncidentNo</td>
                    <td>@crime.Offense</td>
                    <td>@crime.Location</td>
                    <td>@crime.DateFrom</td>
                    <td>@crime.Dayofweek</td>
                    <td>@crime.CommunityCouncilNeighborhood</td>
                    <td>@crime.CpdNeighborhood</td>
                    <td>@crime.LatitudeX</td>
                    <td>@crime.LongitudeX</td>
                    <td>@crime.Zip</td>
                </tr>
            }
        }
    </table>
    <div style="padding-top: 20px">
        <table border="1" width="90%">
            <tr><th>Global ID</th><th>Name</th><th>Short Name</th><th>Park Type</th><th>County</th><th>Acres</th></tr>
            @{
                foreach (ParkSpace.Parks park in parks)
                {
                    <tr>
                        <td>@park.Globalid</td>
                        <td>@park.Name</td>
                        <td>@park.ShortName</td>
                        <td>@park.Parktype</td>
                        <td>@park.County</td>
                        <td>@park.Acres</td>
                    </tr>
                }
            }
        </table>
    </div>
</body>
